<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <div class="github-card" data-github="ranjankhyadad" data-width="400" data-height="150" data-theme="default"></div>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script><hr>

    <div>My major projects are listed below: </div>

    <div>
        <ul style="list-style-type:none;">
            <li><div class="github-card" data-github="thatte-idli-kaal-soup/sotg-accreditation-tracker" data-width="400" data-height="" data-theme="default"></div>
                <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script></li><hr>
            <li><div class="github-card" data-github="ranjankhyadad/goodreads" data-width="400" data-height="" data-theme="default"></div>
                <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script></li><hr>
            <li><div class="github-card" data-github="ranjankhyadad/data-visualization" data-width="400" data-height="" data-theme="default"></div>
                <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script></li><hr>
            <li><div class="github-card" data-github="ranjankhyadad/motion-detector" data-width="400" data-height="" data-theme="default"></div>
                <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script></li><hr>
            <li><div class="github-card" data-github="ranjankhyadad/website-blocker" data-width="400" data-height="" data-theme="default"></div>
                <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script></li><hr>
            <li><div class="github-card" data-github="ranjankhyadad/Python-Excercises" data-width="400" data-height="" data-theme="default"></div>
                <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script></li><hr>
            <li><div class="github-card" data-github="ranjankhyadad/pandas" data-width="400" data-height="" data-theme="default"></div>
                <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script></li>
        </ul>
    </div>
</body>
</html>
